# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/
.history/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Environment
venv
venv/
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Tests cache
.pytest_cache/